body {
  text-align: center;
  padding: 5%;
}

.note {
  border: 1px solid gray;
  border-radius: 5px;
  font-style: italic;
  text-align: left;
  padding: 8px;
  margin: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
